*.py[cod]
test
*.png
*.eps
*.txt
*.zip
*.ps
*.zip
*~
centrality/power

centrality/for_paper/backup\ 2
centrality/for_paper/backup
centrality/for_paper/data
centrality/for_paper/*.pdf

# Latex
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
